<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.AlipayDealWitMapper">
    
    <resultMap type="com.ruoyi.system.domain.AlipayDealWit" id="AlipayDealWitResult">
        <result property="id"    column="id"    />
        <result property="orderId"    column="orderId"    />
        <result property="associatedId"    column="associatedId"    />
        <result property="orderStatus"    column="orderStatus"    />
        <result property="dealAmount"    column="dealAmount"    />
        <result property="dealFee"    column="dealFee"    />
        <result property="actualAmount"    column="actualAmount"    />
        <result property="orderAccount"    column="orderAccount"    />
        <result property="chanenlId"    column="chanenlId"    />
        <result property="witInfo"    column="witInfo"    />
        <result property="externalOrderId"    column="externalOrderId"    />
        <result property="dealDescribe"    column="dealDescribe"    />
        <result property="notify"    column="notify"    />
        <result property="back"    column="back"    />
        <result property="isNotify"    column="isNotify"    />
        <result property="createTime"    column="createTime"    />
        <result property="submitTime"    column="submitTime"    />
        <result property="feeId"    column="feeId"    />
        <result property="status"    column="status"    />
        <result property="witType"    column="witType"    />
        <result property="currency"    column="currency"    />
        <result property="msg"    column="msg"    />
        <result property="request"    column="request"    />
        <result property="response"    column="response"    />
    </resultMap>

    <sql id="selectAlipayDealWitVo">
        select id, orderId, associatedId, orderStatus, dealAmount, dealFee, actualAmount, orderAccount, chanenlId, witInfo, externalOrderId, dealDescribe, notify, back, isNotify, createTime, submitTime, feeId, status, witType, currency, msg,request,response from alipay_deal_wit
    </sql>

    <select id="selectAlipayDealWitList" parameterType="AlipayDealWit" resultMap="AlipayDealWitResult">
        <include refid="selectAlipayDealWitVo"/>
        <where>
            createTime between #{params.dayStart} and #{params.dayEnd}
            <if test="orderId != null  and orderId != ''"> and orderId = #{orderId}</if>
            <if test="associatedId != null  and associatedId != ''"> and associatedId = #{associatedId}</if>
            <if test="orderStatus != null  and orderStatus != ''"> and orderStatus = #{orderStatus}</if>
            <if test="dealAmount != null "> and dealAmount = #{dealAmount}</if>
            <if test="dealFee != null "> and dealFee = #{dealFee}</if>
            <if test="actualAmount != null "> and actualAmount = #{actualAmount}</if>
            <if test="orderAccount != null  and orderAccount != ''"> and orderAccount = #{orderAccount}</if>
            <if test="chanenlId != null  and chanenlId != ''"> and chanenlId = #{chanenlId}</if>
            <if test="witInfo != null  and witInfo != ''"> and witInfo = #{witInfo}</if>
            <if test="externalOrderId != null  and externalOrderId != ''"> and externalOrderId = #{externalOrderId}</if>
            <if test="dealDescribe != null  and dealDescribe != ''"> and dealDescribe = #{dealDescribe}</if>
            <if test="notify != null  and notify != ''"> and notify = #{notify}</if>
            <if test="back != null  and back != ''"> and back = #{back}</if>
            <if test="isNotify != null  and isNotify != ''"> and isNotify = #{isNotify}</if>
            <if test="feeId != null "> and feeId = #{feeId}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="witType != null  and witType != ''"> and witType = #{witType}</if>
            <if test="currency != null  and currency != ''"> and currency = #{currency}</if>
            <if test="msg != null  and msg != ''"> and msg = #{msg}</if>
        </where>
    </select>
    
    <select id="selectAlipayDealWitById" parameterType="Long" resultMap="AlipayDealWitResult">
        <include refid="selectAlipayDealWitVo"/>
        where id = #{id}
    </select>



</mapper>