<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('代付订单列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <p>渠道上送订单号：</p>
                            <input type="text" name="orderId"/>
                        </li>
                        <li>
                            <p>商户结算订单号：</p>
                            <input type="text" name="associatedId"/>
                        </li>
                        <li>
                            <p>商户外部订单号：</p>
                            <input type="text" name="externalOrderId"/>
                        </li>
                        <li>
                            <p>订单状态:</p>
                            <select name="orderStatus">
                                <option value="">所有</option>
                                <option value="1">处理中</option>
                                <option value="2">成功</option>
                                <option value="4">失败</option>
                            </select>
                        </li>
                        <li>
                            <p>商户账号：</p>
                            <input type="text" name="orderAccount"/>
                        </li>
                        <li>
                            <p>渠道账户：</p>
                            <input type="text" name="chanenlId"/>
                        </li>
                        <li class="select-time">
                            <p>数据生成时间：</p>
                            <input type="text" class="time-input" id="startTime" placeholder="开始时间"
                                   name="params[dayStart]"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" placeholder="结束时间"
                                   name="params[dayEnd]"/>
                        </li>
                        <li>
                            <p>货币类型：</p>
                            <input type="text" name="currency"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="alipay:deal_wit:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('alipay:deal_wit:edit')}]];
    var removeFlag = [[${@permission.hasPermi('alipay:deal_wit:remove')}]];
    var prefix = ctx + "alipay/deal_wit";
    const orderstatusDatas = [[${@dict.getType('orderStatusWIt')}]];
    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "代付订单",
            columns: [{
                checkbox: true
            },
                {
                    field: 'orderId',
                    title: '订单号', formatter: function (value, row, index) {
                        var table = '<ul>'
                        table += '<li> 渠道上送订单号 ：' + row.orderId + '</li>'
                        table += '<li> 商户结算订单号 ：' + row.associatedId + '</li>'
                        table += '<li> 商户外部订单号 ：' + row.externalOrderId + '</li>'
                        table += '</ul>'
                        return table;
                    }
                },
                {
                    field: 'orderStatus',
                    title: '订单状态:', formatter: function (value, row, index) {
                        var table = '<ul>'
                        table += '<li> 币种 ：' + row.currency + '</li>'
                        table += '<li>'   +  $.table.selectDictLabel(orderstatusDatas, row.orderStatus); + '</li>'
                        table += '</ul>'
                        return table;
                    }
            },
                {
                    field: 'dealAmount',
                    title: '订单交易金额', formatter: function (value, row, index) {
                        var table = '<ul>'
                        table += '<li> 到帐金额 ：' + row.dealAmount + '</li>'
                        table += '<li> 手续费 ：' + row.dealFee + '</li>'
                        table += '<li> 总扣款金额 ：' + row.actualAmount + '</li>'
                        table += '</ul>'
                        return table;
                    }
                },
                {
                    field: 'orderAccount',
                    title: '账户关系', formatter: function (value, row, index) {
                        var table = '<ul>'
                        table += '<li> 商户账户 ：' + row.orderAccount + '</li>'
                        table += '<li> 渠道账户 ：' + row.chanenlId + '</li>'
                        table += '</ul>'
                        return table;
                    }
                },
                {
                    field: 'witInfo',
                    title: '取款详细', formatter: function (value, row, index) {
                        var table = '<ul>'
//{"bankCode":"ICBC","bankNo":"6552626271872817217","bankName":"中国工商银行","account":"王短发"}
                        var obj = JSON.parse(value);
                        var bankNo = obj.bankNo;
                        var bankName = obj.bankName;
                        var account = obj.account;
                        table += '<li> 卡号 ：' + bankNo + '</li>'
                        table += '<li> 银行 ：' + bankName + '</li>'
                        table += '<li> 账户 ：' + account + '</li>'
                        table += '</ul>'
                        return table;
                    }
                },
                {
                    field: 'createTime',
                    title: '创建时间', formatter: function (value, row, index) {
                        var table = '<ul>'
                        table += '<li>' + '创建时间：' + row.createTime + '</li>'
                        table += '<li>' + '修改时间：' + row.submitTime + '</li>'
                        var date1 = new Date(row.createTime)
                        var date2 = new Date(row.submitTime)
                        var s1 = date1.getTime(), s2 = date2.getTime();
                        var total = (s2 - s1) / 1000;
                        table += '<li>' + '结算时间：' + total + '秒</li>'
                        table += '</ul>'
                        return table;
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-search"></i>详情</a> ');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
    //初始化时间
    layui.use('laydate', function () {
        const laydate = layui.laydate;
        laydate.render({
            elem: '#startTime',
            format: 'yyyy-MM-dd HH:mm:ss',
            type: 'datetime',
            value: new Date().toLocaleDateString().replace(/\//g, "-") + " 00:00:00",
            isInitValue: true
        });
        laydate.render({
            elem: '#endTime',
            format: 'yyyy-MM-dd HH:mm:ss',
            type: 'datetime',
            value: new Date().toLocaleDateString().replace(/\//g, "-") + " 23:59:59",
            isInitValue: true
        });
    });
</script>
</body>
</html>