<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('查看代付订单')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-deal_wit-edit" th:object="${alipayDealWit}">
            <input   th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">订单号：</label>
                <div class="col-sm-8">
                    <span   th:field="${alipayDealWit.orderId}" style="border: 0;" class="form-control" ></span>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">关联订单号：</label>
                <div class="col-sm-8">
                    <span class="form-control" style="border: 0;" th:text="${alipayDealWit.associatedId}"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">订单交易金额：</label>
                <div class="col-sm-8">
                    <span   th:field="${alipayDealWit.dealAmount}" style="border: 0;"  class="form-control"  ></span>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">订单交易手续费：</label>
                <div class="col-sm-8">
                    <span   th:field="${alipayDealWit.dealFee}" style="border: 0;"  class="form-control" type="text"></span>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">实际到账金额：</label>
                <div class="col-sm-8">
                    <span   th:field="${alipayDealWit.actualAmount}" style="border: 0;" class="form-control" type="text" required></span>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">订单关联商户账号：</label>
                <div class="col-sm-8">
                    <span  th:field="${alipayDealWit.orderAccount}" style="border: 0;" class="form-control" type="text" required></span>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">渠道账户：</label>
                <div class="col-sm-8">
                    <span   th:field="${alipayDealWit.chanenlId}" style="border: 0;"  class="form-control" type="text" required></span>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">取款详细：</label>
                <div class="col-sm-8">
                    <textarea   th:field="${alipayDealWit.witInfo}" style="border: 0;"  class="form-control" type="text"></textarea>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">商户外部订单号：</label>
                <div class="col-sm-8">
                    <span   th:field="${alipayDealWit.externalOrderId}" style="border: 0;"  class="form-control" type="text"></span>

                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">交易备注：</label>
                <div class="col-sm-8">
                    <span   th:field="${alipayDealWit.dealDescribe}" style="border: 0;" class="form-control"  ></span>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">订单异步回调地址：</label>
                <div class="col-sm-8">
                    <span   th:field="${alipayDealWit.notify}" style="border: 0;"  class="form-control" type="text"></span>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">订单同步回调地址：</label>
                <div class="col-sm-8">
                    <span   th:field="${alipayDealWit.back}" style="border: 0;" class="form-control" type="text"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">数据修改时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <span   th:value="${#dates.format(alipayDealWit.submitTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text" required></span>

                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">货币类型：</label>
                <div class="col-sm-8">
                    <span   th:field="${alipayDealWit.currency}"  style="border: 0;" class="form-control" type="text" required></span>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">说明：</label>
                <div class="col-sm-8">
                    <textarea  th:field="${alipayDealWit.msg}"  style="border: 0;" class="form-control" type="text"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">请求：</label>
                <div class="col-sm-8">
                    <code>
                    <textarea  style="border: 0;" th:field="${alipayDealWit.request}" class="form-control" type="text"></textarea>
                    </code>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">响应：</label>
                <div class="col-sm-8">
                    <code>
                    <textarea   th:field="${alipayDealWit.response}" class="form-control" type="text"></textarea>
                    </code>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
 </body>
</html>