<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('银行卡列表列表')"/>
    <th:block th:include="include :: bootstrap-select-css"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <span>账号ID：</span>
                            <input type="text" name="account"/>
                        </li>
                        <li>
                            <span>银行卡号：</span>
                            <input type="text" name="bankcardAccount"/>
                        </li>
                        <li class="select-time">
                            <span>创建时间：</span>
                            <input type="text" class="time-input" id="startTime" placeholder="开始时间"
                                   name="params[beginCreateTime]"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" placeholder="结束时间"
                                   name="params[endCreateTime]"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()">
                <i class="fa fa-plus"></i>新增
            </a>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: bootstrap-select-js"/>
<script th:inline="javascript">
    let editFlag = [[${@permission.hasPermi('alipay:bankCard:edit')}]];
    let removeFlag = [[${@permission.hasPermi('alipay:bankCard:remove')}]];

    let prefix = ctx + "alipay/bankCard";

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "银行卡列表",
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: '数据ID'
                },
                {
                    field: 'bankcardAccount',
                    title: '链接'
                },
                {
                    field: 'createTime',
                    title: '创建时间'
                },
                {
                    field: 'createTime',
                    title: '创建时间'
                },
                {
                    field: 'qrcodeNote',
                    title: '备注'
                }, {
                    field: 'isDeal',
                    title: '状态',
                    formatter: function (value, row, index) {
                        return statusTools(row, 'isDeal');
                    }
                },

                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

    /* 银行卡状态显示 */
    function statusTools(row) {
        if (row.status === 0) {
            return '<i class=\"fa fa-toggle-off text-info fa-2x\" style="cursor:pointer;" title="点击变更状态" onclick="enable(\'' + row.id + '\')"></i> ';
        } else {
            return '<i class=\"fa fa-toggle-on text-info fa-2x\" style="cursor:pointer;" title="点击变更状态" onclick="disable(\'' + row.id + '\')"></i> ';
        }
    }


    function statusTools(row, param) {
        if (param === 'isDeal') {
            if (row.idDeal == 1) {
                let msg = "确认此连接【开启】吗？";
                let val = 2;
                return '<i class=\"fa fa-toggle-off text-info fa-2x\" style="cursor:pointer;" title="点击变更状态" onclick="enable(\'' + row.id + '\', \'' + param + '\', \'' + msg + '\', \'' + val + '\')"></i> ';
            } else {
                let msg = "确认此连接【关闭】吗？";
                let val = 1;
                return '<i class=\"fa fa-toggle-on text-info fa-2x\" style="cursor:pointer;" title="点击变更状态" onclick="disable(\'' + row.id + '\', \'' + param + '\', \'' + msg + '\', \'' + val + '\')"></i> ';
            }
        }
    }

    /* 商户管理-启用 */
    function enable(qrcodeId,   msg, val) {
        $.modal.confirm("启用", function () {
            $.operate.post(prefix + "/updateIsDealNo", {
                "id": qrcodeId
            });
        })
    }

    /* 商户管理-停用 */
    function disable(qrcodeId,   msg, val) {
        $.modal.confirm("关闭", function () {
            $.operate.post(prefix + "/updateIsDealOff", {
                "id": qrcodeId
            });
        })
    }
</script>
</body>
</html>